@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply py-1 px-5 text-white font-normal rounded-[5px] focus:ring-opacity-75;
  }
}

html {
  font-family: 'Roboto', system-ui, sans-serif;
  line-height: 1.8rem;
  font-weight: 300;
  color: #333;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}